body {
    background-color: hsla(62, 100%, 79%, 0.842);
}
.introduction {
    color: rgb(132, 0, 0);
}
#other-stuff {
    background-color: rgba(12, 143, 255, 0.5);
}
*{
    color: black;
}
button {
    color:hsl(281, 100%, 50%);
}
[this="hi"]{
    background-color:#FFFF00;
}
a:link{
    color:#00F;
}
div, span {
    border:linen solid;
}
section h2 {
    color:mediumpurple;
}
details > summary {
    border-style:dashed;
}
h2 + p {
    border-color:mediumseagreen;
    border-radius: 0%;
    font-size: 4mm;
}
h2 ~ nav {
    border-width: 2px;
}
p.tonguetwister {
    text-decoration:line-through;
}
h1 {
    font-size:
}