body {
    background-color: hsla(62, 100%, 79%, 0.842);
}
/* special color for introduction paragraph */
.introduction {
    color: rgb(132, 0, 0);
}
/* special color for one section */
#other-stuff {
    background-color: rgba(12, 143, 255, 0.5);
    font-size:0.5cm;
}
*{
    color: black;
}
button {
    color:hsl(281, 100%, 50%);
}
[this="hi"]{
    background-color:#FFFF00;
}
a:link{
    color:#00F;
}
div, span {
    border:linen solid;
}
section h2 {
    color:mediumpurple;
}
details > summary {
    border-style:dashed;
}
h2 + p {
    border-color:mediumseagreen;
    border-radius: 15%;
    font-size: 4mm;
}
h2 ~ nav {
    border-width: 2px;
}
p.tonguetwister {
    text-decoration:line-through; /* strikethrough font for removable text */
    text-align:end;
    font-size: 0.5em;
}
h1 {
    font-size:3vw; /* set header font size to 3% of viewport */
}