body {
    background-color: hsla(62, 100%, 79%, 0.842);
}
/* special color for introduction paragraph */
.introduction {
    color: rgb(132, 0, 0);
    margin:auto;
    display:inline-block;
}
/* special color for one section */
#other-stuff {
    background-color: rgba(12, 143, 255, 0.5);
    font-size:0.5cm;
}
*{
    color: black;
}
button {
    color:hsl(281, 100%, 50%);
}
button:hover {
    background-color:lightgray;
}
button:active {
    background-color:maroon;
}
[this="hi"]{
    background-color:#FFFF00;
}
a:link{
    color:#00F;
}
div, span {
    border:linen solid;
}
section h2 {
    color:mediumpurple;
}
details > summary {
    border-style:dashed;
}
h2 + p {
    border-color:mediumseagreen;
    border-radius: 15%;
    font-size: 4mm;
    min-width: 5px;
    max-width: 1000px;
}
h2 ~ nav {
    border-width: 2px;
}
p.tonguetwister {
    text-decoration:line-through; /* strikethrough font for removable text */
    text-align:end;
    font-size: 0.5em;
}
h1 {
    font-size:3vw; /* set header font size to 3% of viewport */
}
#current-projects {
    position:static;
    width:75vw;
    height:75vw;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:3mm;
    padding-right:3mm;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
}
#contents {
    position:fixed;
    bottom:25vw;
    left:85vw;
    width:75vw;
    height:10vw;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}